<div class="filesection">
    <p>
        <b>From File:</b><br>

        <!-- START:hidden_div -->
        <%= hidden_div_if(@importer.files.empty?, :id => "files") %>

        <%= render(:partial => "/files/files", :object => @importer.files) %>
        <%="</div>".html_safe %>


        <%= hidden_div_if(@importer.files.count >= @filestoshow, :id => "filebutton") %>
<%#=render(:partial => "/files/filebutton")%>
        <%= render(:partial => "/files/upload_button_multi") %>
        <%="</div>".html_safe %>

        <%= hidden_div_if(@importer.files.count >= @filestoshow, :id => "remote-url") %>
    <p><b>Remote URL:</b></br>
        <%=editablefieldcreate("full_uri_path", @importer)%>
    </p>
    <%="</div>".html_safe %><br>

    <%= render(:partial=>"/files/upload_template") %>

</div> 
<div id="table-section">
</div>

<div id="add-column-map">

    <div id="sheet-columns">  
    </div> 
    <div id="map-to">
        Map To
    </div>
    <div id="table-columns">
    </div>
    <div id="map-to-button">

    </div>
</div>
<div id="importer-item-list">

</div>
</p>
<p>
<div id="import-button">
</div>
<div id="import-progress-block" style="display:none;">
    <%=render(:partial => "import_progress_block")%>

</div>
</p>
<div id="importer-status">

    <%=render(:partial => "importer_status")%>
</div>
<p style="
   display: inline-block;
   position: absolute;
   bottom: 1px;
   right: 1px;
   ">
    (id=<%=@importer.id%>)
</p>